**/__pycache__
**/.lightning_studio
outputs
results
latent_diffusion.egg*
ldm.egg*
models/ldm
.vscode
.idea
.claude
output_dir
taming
checkpoints
data/MNIST/raw
GroumdingDINO
taming-transformers
**/.egg*
